/java-io/nbproject/private/
/java-io/build/
/gerenciador-de-cursos/nbproject/private/
/gerenciador-de-cursos/build/
/java8/java8/nbproject/private/
/java8/java8/build/
/testesTdd/nbproject/private/
/testesTdd/build/
/testesTdd/dist/
/testes-mock/nbproject/private/
/testes-mock/build/
/teste-de-unidade/nbproject/private/
/teste-de-unidade/build/